persistence:
  defaultClassReplicaCount: 2

csi:
  attacherReplicaCount: 2
  provisionerReplicaCount: 2
  resizerReplicaCount: 2
  snapshotterReplicaCount: 2

longhornUI:
  replicas: 2

metrics:
  serviceMonitor:
    enabled: true