apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
spec:
  releaseName: kube-prometheus-stack
  chartRef:
    kind: OCIRepository
    name: kube-prometheus-stack
  interval: 1h
  driftDetection:
    mode: enabled
  install:
    crds: CreateReplace
    strategy:
      name: RetryOnFailure
      retryInterval: 5m
  upgrade:
    crds: CreateReplace
    strategy:
      name: RetryOnFailure
      retryInterval: 5m
  valuesFrom:
    - kind: ConfigMap
      name: kube-prometheus-stack-values
    - kind: ConfigMap
      name: flux-kube-state-metrics-values
      valuesKey: kube-state-metrics-values.yaml
    - kind: ConfigMap
      name: alertmanager-values
      valuesKey: alertmanager-values.yaml
