apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base/configs
  - helm-dispatch.yaml
patches:
  - patch: |
      - op: replace
        path: /spec/hostnames/0
        value: webhook-receiver.staging.mdch-lab.dev
    target:
      kind: HTTPRoute
      name: webhook-receiver
      namespace: flux-system
  - patch: |
      - op: replace
        path: /spec/hostnames/0
        value: hubble.staging.mdch-lab.dev
    target:
      kind: HTTPRoute
      name: hubble-httproute
      namespace: cilium
  - patch: |
      - op: replace
        path: /spec/hostnames/0
        value: grafana.staging.mdch-lab.dev
    target:
      kind: HTTPRoute
      name: grafana-httproute
      namespace: monitoring
  - patch: |
      - op: replace
        path: /spec/hostnames/0
        value: prometheus.staging.mdch-lab.dev
    target:
      kind: HTTPRoute
      name: prometheus-httproute
      namespace: monitoring
  - patch: |
      - op: replace
        path: /spec/hostnames/0
        value: alertmanager.staging.mdch-lab.dev
    target:
      kind: HTTPRoute
      name: alertmanager-httproute
      namespace: monitoring
  - patch: |
      - op: replace
        path: /spec/hostnames/0
        value: alloy.staging.mdch-lab.dev
    target:
      kind: HTTPRoute
      name: alloy-httproute
      namespace: monitoring
  - patch: |
      - op: replace
        path: /spec/acme/server
        value: https://acme-staging-v02.api.letsencrypt.org/directory
    target:
      kind: ClusterIssuer
      name: letsencrypt
  - path: Certificate-wildcard-cert.yaml
    target:
      kind: Certificate
      name: wildcard-cert
      namespace: cilium
  - path: ClusterSecretStore-gcpsm.yaml
    target:
      kind: ClusterSecretStore
      name: gcpsm
  - path: Gateway-mdch-lab.yaml
    target:
      kind: Gateway
      name: mdch-lab
      namespace: cilium
  - path: GCRAccessToken-gcr-gen.yaml
    target:
      kind: GCRAccessToken
      name: gcr-gen
      namespace: external-secrets
  - path: Alert-slack-alerts.yaml
    target:
      kind: Alert
      name: slack-alerts
      namespace: flux-system
  - patch: |
      - op: replace
        path: /spec/channel
        value: flux-alerts-staging
    target:
      kind: Provider
      name: slack
      namespace: flux-system
  - patch: |
      - op: replace
        path: /spec/channel
        value: flux-alerts-staging
    target:
      kind: Provider
      name: google-pubsub
      namespace: flux-system
