apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: smartshopper
spec:
  selector:
    matchLabels:
      app: smartshopper
      tier: backend
  template:
    metadata:
      labels:
        app: smartshopper
        tier: backend
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                  - smartshopper
                - key: tier
                  operator: In
                  values:
                  - backend
              topologyKey: kubernetes.io/hostname
      imagePullSecrets:
      - name: ecr-creds
      containers:
      - name: backend
        image: 438465130856.dkr.ecr.us-east-1.amazonaws.com/smartshopper/smartshopper-backend:0.1.13 # {"$imagepolicy": "smartshopper:backend-policy"}
        ports:
        - containerPort: 8000
        envFrom:
        - secretRef:
            name: backend-firebase-creds
        - secretRef:
            name: google-creds
        - secretRef:
            name: openai-key
        - secretRef:
            name: db-creds
        - secretRef:
            name: aws-creds
        resources:
          requests:
            cpu: 10m
            memory: 50Mi
        volumeMounts:
        - name: firebase-service-account
          mountPath: /app/backend/src/credentials/firebase-service-account.json
          subPath: FIREBASE_SERVICE_ACCOUNT_JSON
          readOnly: true
      volumes:
      - name: firebase-service-account
        secret:
          secretName: backend-firebase-creds
        
