apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: longhorn
  namespace: longhorn-system
spec:
  interval: 24h
  url: https://charts.longhorn.io
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn
  namespace: longhorn-system
spec:
  interval: 10m
  releaseName: longhorn
  persistentClient: false
  chart:
    spec:
      chart: longhorn
      version: 1.8.x
      sourceRef:
        kind: HelmRepository
        name: longhorn
        namespace: longhorn-system
  valuesFrom:
    - kind: ConfigMap
      name: longhorn-values