apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: wildcard-cert
  namespace: cilium
spec:
  secretName: wildcard-cert
  issuerRef:
    name: letsencrypt
    kind: ClusterIssuer
  commonName: '*.mdch-lab.dev'
  dnsNames:
    - '*.mdch-lab.dev'
    - mdch-lab.dev
  privateKey:
    algorithm: RSA
    size: 2048
