apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: alertmanager-slack-webhook-url
  namespace: monitoring
spec:
  refreshInterval: 24h
  secretStoreRef:
    name: gcpsm
    kind: ClusterSecretStore
  target:
    name: alertmanager-slack-webhook-url
    creationPolicy: Owner
    template:
      type: Opaque
  data:
  - secretKey: SLACK_WEBHOOK_URL
    remoteRef:
      key: alertmanager-slack-webhook-url
