apiVersion: v1
kind: ServiceAccount
metadata:
  name: gcr-sa
  namespace: external-secrets
---
apiVersion: generators.external-secrets.io/v1alpha1
kind: GCRAccessToken
metadata:
  name: gcr-gen
  namespace: external-secrets
spec:
  projectID: noambesandbox
  auth:
    workloadIdentityFederation:
      audience: //iam.googleapis.com/projects/320535199479/locations/global/workloadIdentityPools/mdch-lab-cluster-pool/providers/external-secrets
      serviceAccountRef:
        name: gcr-sa
        namespace: external-secrets
        audiences:
          - https://iam.googleapis.com/projects/320535199479/locations/global/workloadIdentityPools/mdch-lab-cluster-pool/providers/external-secrets 
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: gcr-token
  namespace: external-secrets
spec:
  refreshInterval: 1m
  target:
    name: gcr-token
    template:
      type: kubernetes.io/dockerconfigjson
      data:
        .dockerconfigjson: |-
          {
            "auths": {
              "me-west1-docker.pkg.dev": {
                "username": "{{ .username }}",
                "password": "{{ .password }}",
                "auth": "{{ printf "%s:%s" .username .password | b64enc }}"
              }
            }
          }
  dataFrom:
  - sourceRef:
      generatorRef:
        apiVersion: generators.external-secrets.io/v1alpha1
        kind: GCRAccessToken
        name: "gcr-gen"
