apiVersion: apps/v1
kind: Deployment
metadata:
  name: simple-web-app
  namespace: external-secrets
spec:
  replicas: 1
  selector:
    matchLabels:
      app: simple-web
  template:
    metadata:
      labels:
        app: simple-web
    spec:
      imagePullSecrets:
      - name: gcr-token
      containers:
      - name: web-container
        image: me-west1-docker.pkg.dev/noambesandbox/e-cft-chrome/my-app:v1
        ports:
        - containerPort: 80
